<div class="container">
  <h1>Character list</h1>
  <table mat-table [dataSource]="characters">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let character"> {{getNames(character)}} </td>
  </ng-container>

  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef> Gender </th>
    <td mat-cell *matCellDef="let character"> {{character.gender ? character.gender : 'Unknown'}} </td>
  </ng-container>

  <ng-container matColumnDef="culture">
    <th mat-header-cell *matHeaderCellDef> Culture </th>
    <td mat-cell *matCellDef="let character"> {{character.culture ? character.culture : 'Unknown'}} </td>
  </ng-container>

  <ng-container matColumnDef="seasons">
    <th mat-header-cell *matHeaderCellDef> Seasons </th>
    <td mat-cell *matCellDef="let character"> {{getSeriesCount(character)}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="form">
    <mat-form-field appearance="fill">
      <mat-label>Page size</mat-label>
      <mat-select [(ngModel)]="pageSize" (selectionChange)="updateData(pageSize, page)">
        <mat-option *ngFor="let size of pageSizes" [value]="size">
          {{size}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>Page: {{page}}</div>
    <Button *ngFor="let link of links" (click)="updateData(pageSize, link.page)" variant="contained">
      {{link.label}}
    </Button>
  </div>
</div>