.container {
  padding: 20px;
  text-align: center;
}

.filter-container {
  background-color: #424242;
  padding: 10px 0 0 10px;
  color: #ffffff;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 1px solid #ffffff;

  & > div, .mat-form-field {
    margin-right: 6px;
  }
}

table {
  width: 100%;
}

td {
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
}